extends ../notification-layout.pug

block preview
  | Account Changed

block subject
  | Account Changed

block content
  p We've updated your contact email, as you asked. To view or change your account information, visit your account settings.
  p If you did not request this change, just contact us.
