extends ../notification-layout.pug

block preview
  | Password Reset

block subject
  | Password Reset

block content
  p We've reset your password, as you asked. To view or change your account information, visit your account settings.
  p If you did not ask to change your password, just contact us.
