extends ../notification-layout.pug

block preview
  | Password Updated

block subject
  | Password Updated

block content
  p We've changed your password, as you asked. To view or change your account information, visit your account settings.
  p If you did not ask to change your password, just contact us.
