extends ../notification-layout.pug

block preview
  | Reset your password

block subject
  | Reset your password

block content
  p We got a request to reset your password.
  p Please click the link below to reset your password.
  row(class="btn btn-primary")
    columns
      a#hashLink(href=hashLink) Reset your password
  p If you ignore this message your password won't be changed.
